@model IEnumerable<JITestJqueryDataTables.Models.Student>

@{
    ViewBag.Title = "Ajax";
}

<h2>Ajax</h2>

<table id="ajaxjdTable" class="table table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>StudentId</th>
            <th>FullName</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Telephone</th>
        </tr>
    </thead>
</table>


